body {
    background-color: #fafdff;
    font-family: segoe UI light, monospace;
}

.main {
    text-align: center;
}

.base-link {
    font-size: large;
    color: dimgrey;
    margin: 20px;
}

.base-form {
    text-align: center;
    margin: 0 auto 100px;
    width: 200px;
}