<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>URLShortener</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="main">
    <h1>Marceli Baczewski- URLShortener</h1>
    <h3>Log in</h3>
    <div class=base-form>
        <form class="form" method="post" action="{{ url_for('login') }}">
            <input title="Username" type="text" name="username" required="required" placeholder='Username'>
            <input title="Password" type="password" name="password" required="required" placeholder='Password'>
            <input type="submit" value="Login">
        </form>
    </div>
    <h3>Register</h3>
    <div class="base-form">
        <form class="form" method='POST' action="{{ url_for('register') }}">
            <input type='text' name='username' required="required" placeholder='Username'/>
            <input type='password' name='password' required="required" placeholder='Password'/>
            <input type='submit' value='Register'/>
        </form>
    </div>
</div>
</body>
</html>
