<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>URLShortener</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div class="main">
    <h1>Marceli Baczewski- URLShortener</h1>
    <form action="" method="post">
        <input name="url" id="url" type="url" placeholder="Insert url to shorten"/>
        <input type="submit" value="Shorten"/>
        <div>
            <a class="base-link" href="{{ url_for('login') }}">{{ logged_in }}</a>
        </div>
        <div>
            <a class="base-link" href="{{ url_for('link') }}">Shortened links</a>
        </div>
    </form>
</div>
</body>
</html>
