<!DOCTYPE html>
<html lang="pl">
<head>
    <title>URLShortener</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="main">
    <h1>Shortened link list:</h1>
    <ol>
        {% for link in linkbase %}
            <li> <a class="base-link" href="http://127.0.0.1:5000/{{ link }}">http://127.0.0.1:5000/{{ link }}</a>
            <a class="base-link" href="{{ linkbase[link] }}">{{ linkbase[link] }}</a>
        {% endfor %}
    </ol>
    <div>
        <a class="base-link" href="http://127.0.0.1:5000/">Back</a>
    </div>
</div>
</body>
</html>
